.photobooth {
    display: inline-flex;
    justify-content: center;
    position: relative;


    aside {
        position: absolute;
        left: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        width: 160px;

        img {
            width: 100%;
            flex-shrink: 0;
        }
    }
}