.inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;

    input {
        height: 30px;
        width: 200px;
        border-radius: 5px;
        border: var(--border-width, 1px) solid var(--border-color, #ccc);
        padding: 5px;
    }

}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 rgba(102, 187, 106, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(102, 187, 106, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(102, 187, 106, 0);
    }
}

.correct {
    animation: glow 0.8s ease-out;
}

.correct {
    --border-color: rgba(102, 187, 106, 0.8);
    --border-width: 4px;
    animation: glow 0.8s ease-out;
}

.incorrect {
    --border-color: rgba(239, 83, 80, 0.8);
    --border-width: 4px;
    animation: shake 0.3s ease-in-out;
}