#root {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.demo-wrapper {
  display: block;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  flex-basis: 100%;
}

.demo-group-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Theme Styles */
.theme-container {
  transition: all 0.3s ease;
  border-radius: 8px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-container.light {
  --bg-color: #ffffff;
  --text-color: #333333;
}

.theme-container.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

.theme-container.ocean {
  --bg-color: #B3E5FC;
  --text-color: #01579B;
}

.theme-container.forest {
  --bg-color: #C8E6C9;
  --text-color: #1B5E20;
}

.theme-buttons button {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s;
}

.theme-buttons button:active {
  transform: scale(.95);
}